/*------------------------------------------------------------------------------Google Font Import*/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


/*------------------------------------------------------------------------------HEADER */
.headerMenuButton{
    color: black!important;

}

/*------------------------------------------------------------------------------JUMBOTRON */

.jumboBG{
    background-color: rgba(255, 199, 135, 0.5)!important;
    

}




/*------------------------------------------------------------------------------FONTS (SIZES / COLOURS / THEMES / BORDERS)*/


/*-----Card Backgrounds& Buttons*/
.customGreen{
    background-color: #c6f7a9;
}


.customPurple{
    background-color: #f098e7;
}

.customOrange{
    background-color: #f7ce77;
}

.customBlue{
    background-color: #93bef7;
}

.customButton{
    background-color: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet)!important;

}


/*-----Font Colours*/
.customPurpleDark{
    color:  #63055a;
    font-weight: 900;
}

.customRed{
    background-color: #fcbeb3;
}

.pink{
    color: pink;
    font-weight: 900;
}

.blue{
    color: #051963;
    font-weight: 900;
}


.green{
    color: green;
    font-weight: 900;
}

.red{
    color: red;
    font-weight: 900;
}

/*------------------------------------------------------------------------------FOOTER */

.footer-items i {
    display: inline;
    font-size: 180%;
    margin: 1%;
    padding-top:10px;
    padding-bottom: 10px;  
}

footer a {
    border-bottom: none;
    color: black;
}

footer{
    text-align: center;
}


/*------------------------------------------------------------------------------MEDIA QUERIES*/

@media screen and (max-width:450px){
    #footer span {
        font-size: 0;
    }

    i {
        color: #d3ddd7;
    }

    .display-5 {
        font-size: 25px;
    }

    .mediaQueryHide {
        display: none;
    }

}

@media screen and (min-width:768px){
    .scaleDown {
        height: 70%;
        width: 70%;
        
        
    }
}












