/*------------------------------------------------------------------------------Google Font Import*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap'); /*font-family: 'Playfair Display', serif;*/


/*------------------------------------------------------------------------------HEADER */
.navbar-nav li a{
    color: black;
    font-family: 'Lato', sans-serif;

}

/*------------------------------------------------------------------------------BODY */

body{
    font-family: 'Playfair Display', serif!important;
}

/*----------JUMBOTRON */

.jumbotron{
    background-color: #c6e0c1;
    margin: 0;
    padding: 0;

}

.jumboBG{
    background-image: url('../images/bgImage.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    text-align: center;
    min-height: 400px;
    max-width: 1024px;
    height: 100%;
    margin-bottom: 10px;
    

}

.inner-box{
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: rgba(218, 218, 238, 0.6);
  margin-top: 50px; 
  font-weight: 700;
   
}




/*------------------------------------------------------------------------------FONTS (SIZES / COLOURS / THEMES / BORDERS)*/


/*-----Card Backgrounds & Buttons*/
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.card-title{
    font-weight: 900!important;
}

.customGreen{
    background-color: #c6f7a9;
}


.customPurple{
    background-color: #f098e7;
}

.customOrange{
    background-color: #f7ce77;
}

.customBlue{
    background-color: #93bef7;
}



/*-----Font Colours, Borders & Sizes*/
.allCaps{
    text-transform: uppercase;
    font-weight: bold;
}

.underline, .active{
    border-bottom: 3px solid rgb(71, 212, 78);
}

.active i{
    color: rgb(71, 212, 78);
}

.customPurpleDark{
    color:  #63055a;
    font-weight: 900;
}

.customRed{
    background-color: #fcbeb3;
}

.pink{
    color: pink;
    font-weight: 900;
}

.blue{
    color: #051963;
    font-weight: 900;
}


.green{
    color: green;
    font-weight: 900;
}

.red{
    color: red;
    font-weight: 900;
}


/*------------------------------------------------------------------------------FOOTER */

.footer-items i {
    display: inline;
    font-size: 180%;
    margin: 1%;
    padding-top:10px;
    padding-bottom: 10px;  
}

footer a {
    border-bottom: none;
    color: black;
}

footer{
    text-align: center;
}


/*------------------------------------------------------------------------------MEDIA QUERIES*/

@media screen and (max-width:450px){
    #footer span {
        font-size: 0;
    }

    i {
        color: #d3ddd7;
    }

    .display-5 {
        font-size: 25px;
    }

    .mediaQueryHide {
        display: none;
    }

    .inner-box{
    text-transform: capitalize;
    letter-spacing: 2px;
    background-color: rgba(218, 218, 238, 0.6);
    margin-top: 25px; 
    font-weight: 400;
   
}


}